ultralytics
opencv-python
roboflow
torch
torchvision
numpy
matplotlib
pillow
supervision
transformers
fastapi
uvicorn
huggingface_hub
# dlib
dlib-19.22.99-cp310-cp310-win_amd64.whl
imutils
flask
scipy